@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-principal: #0D0D87;
    --cor-background: #E0E0E0;
    --cor-destaque: #EFEFEF;
    --cor-cabecalho-tabela: #5b5b5b;
    --cor-corpo-tabela: #363636;
    --cor-hover-botao: #0056b3;
}

* {
    margin: 0;
    padding: 0;

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    background-color: var(--cor-background);
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor-principal);
    height: 70px;
}

.cabecalho a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    /* AUMENTA A FONTE EM 20% DO TAMANHO PADRÃO DO NAVEGADOR */
}